.contact__us {
  padding-bottom: 12rem;
}

.contact__us-inner {
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/contact_us_bg.jpg");
  min-height: 72rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact__us__form {
  padding: 5rem;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  max-width: 56rem;
  max-height: 54.6rem;
  border-radius: 1rem;
  margin-right: 10rem;
  backdrop-filter: blur(1rem);
}

.form-head {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 0.4rem;
    height: 5.6rem;
    background: $base-pink;
    left: 0rem;
    top: 0;
    border-radius: 1rem;
  }

  label {
    cursor: pointer;
  }
}

.head-small {
  font-size: 1.4rem;
  color: $base-pink;
}

.head-big {
  font-size: 3.2rem;
  color: #000;
  font-weight: bold;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0 2rem 0;

  input {
    width: 100%;
    border: none;
    padding: 1.6rem 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
  }

  textarea {
    width: 100%;
    border: none;
    padding: 1.6rem 3rem;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
  }
}

.form-submit {
  button {
    width: 100%;
    padding: 1.6rem 0;
    border: none;
    border-radius: 1rem;
    background: $base-pink;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

    &:hover {
      background: #db273f;
      transition: 0.2s all ease-in-out;
    }
  }
}

// New contact us
.new-contact-us {
  padding-bottom: 12rem;
}

.new-cu-content {
  padding-top: 5rem;
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem;
  }
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000;

  &:hover > .list-text {
    border-bottom: 0.3rem solid $base-pink;
    transition: 0.1s all ease;
  }
}

.list-img {
  width: 4rem;
  height: 4rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.list-text {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: left;
  color: #000;
  font-weight: normal;
  border-bottom: 0rem solid $base-pink;
  transition: 0.1s all ease;
}

.contact-us-inner {
  padding-bottom: 10rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

.cu-form-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.input-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;

  h5 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  input {
    padding: 2rem 0 2rem 2rem;
    max-width: unset;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    outline: none;
    border: 0.1rem solid #c4c4c4;
    border-radius: 1rem;
    font-size: 1.8rem;
  }

  textarea {
    resize: none;
    padding: 2rem 0 2rem 2rem;
    max-width: unset;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    outline: none;
    border: 0.1rem solid #c4c4c4;
    border-radius: 1rem;
    font-size: 1.8rem;
  }
}

.cu-form-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;

  button {
    max-width: 26rem;
  }

  p {
    text-align: right;
    align-self: center;
    font-size: 1.8rem;
  }
}

// MEDIA

@media screen and (max-width: 900px) {
  .cu-form-top {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .cu-form-bottom p,
  .cu-form-bottom input,
  .cu-form-bottom textarea,
  .input-block h5,
  .list-text {
    font-size: 1.6rem;
  }
  .cu-form-bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;

    .pink-link-default {
      max-width: unset;
      width: 100%;
      padding: 2rem 3.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .new-cu-content {
    ul {
      grid-template-columns: 1fr;
    }
  }
  .list-text {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .list-img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .list-text {
    font-size: 1.2rem;
  }
}
