.custom-list-inner {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 5rem;
  ul {
    list-style-image: url("../svg/list-bullet.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
}

.custom-list-item {
  position: relative;
  min-height: 5rem;

  p {
    font-size: 2rem;
  }
}

.border-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: -1.9rem;
  height: 100%;
}

.border {
  height: 1rem;
  width: 0.2rem;
  background: $base-pink;
  opacity: 0.3;
  border: none;
}
