html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 136rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

.strong {
  font-weight: bold;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 5rem;
}
