html {
  font-size: 62.5%;

  a {
    text-decoration: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 136rem;
  padding: 0rem 4rem;
  margin: 0 auto;
}

.strong {
  font-weight: bold;
}

.colored {
  color: $base-pink;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 800px) {
  .content-block {
    gap: 3rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .content-block {
    gap: 2.5rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .content-block {
    gap: 2rem;
  }
}
