.nav {
  min-height: 90rem;
  background: transparent;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  position: relative;
  z-index: 19;
  margin-bottom: 12rem;

  .logo {
    &::before {
      height: 90rem;
      bottom: -75.1rem;
    }
  }
}

.nav__inner {
  padding: 5rem 0 0rem 0;
}

.nav__inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__right {
  ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
    }
  }
}

.nav__inner__bottom {
  padding-top: 10rem;
}
