.nav {
  min-height: 90rem;
  background: transparent;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  position: relative;
  z-index: 19;
  margin-bottom: 12rem;

  .logo {
    &::before {
      height: 90rem;
      bottom: -75.1rem;
    }
  }
}

.nav-burger {
  display: none;
  z-index: 201;
}

.nav__inner {
  padding: 5rem 0 0rem 0;
}

.nav__inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__right {
  ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
    }

    h4 {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
      font-weight: normal;
      cursor: pointer;
    }
  }
}

.nav__inner__bottom {
  padding-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.short-nav {
  .logo {
    display: block;
    &::before {
      height: 30.5rem;
      bottom: -15.5rem;
    }
  }

  min-height: unset;
  height: 30.5rem;

  .nav__inner__bottom {
    justify-content: flex-start;
    padding: 6rem 0 0 16.5rem;
  }
  .slide__top {
    h2 {
      font-weight: bold;
    }
  }
  .slider__slide {
    min-height: unset;
    max-width: unset;
  }
}

.service-dropdown {
  position: relative;
}

.dropdown {
  z-index: 50;
  min-width: 38rem;
  background: #242424;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: -280%;
  max-height: 0;
  height: fit-content;
  overflow: hidden;
  transition: all 0.4s ease;

  li {
    text-align: center;
    width: 100%;
    padding: 1.5rem 2rem;
    background: transparent;
    transition: all 0.4s ease;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &:hover {
      background: $base-pink;
      transition: all 0.4s ease;
    }
  }

  &.active {
    max-height: 40rem;
    transition: all 0.4s ease;
  }
}

.nav__right {
  .dropdown {
    gap: 0rem;
  }
}

// MEDIA
@media screen and (max-width: 1000px) {
  .nav__right {
    ul {
      a,
      h4 {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .short-nav {
    .nav__inner__bottom {
      padding: 6rem 0 0 10rem;
    }
  }

  .nav__right {
    ul {
      display: none;
    }
  }

  .nav-burger {
    display: block;
    cursor: pointer;

    &.active {
      .burger-line {
        width: 3.6rem;
        transition: 0.4s all ease;

        &::before {
          width: 2.4rem;
          left: 0rem;
          transition: 0.4s all ease;
        }

        &::after {
          width: 2.4rem;
          right: 0rem;
          transition: 0.4s all ease;
        }
      }
    }
  }

  .line-wrapper {
    width: 3.6rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .burger-line {
    height: 0.5rem;
    width: 2.4rem;
    background: #fff;
    content: "";
    border: none;
    border-radius: 5rem;
    position: relative;
    transition: 0.4s all ease;

    &::before {
      height: 0.5rem;
      width: 3.6rem;
      background: #fff;
      content: "";
      border: none;
      position: absolute;
      border-radius: 5rem;
      bottom: 1rem;
      right: 0;
      left: -1.2rem;
      transition: 0.4s all ease;
    }

    &::after {
      height: 0.5rem;
      width: 3.6rem;
      background: #fff;
      content: "";
      border: none;
      position: absolute;
      border-radius: 5rem;
      top: 1rem;
      right: 0;
      transition: 0.4s all ease;
    }
  }
}

// MEDIA
@media screen and (max-width: 700px) {
  .nav {
    margin-bottom: 5rem;
  }

  .logo {
    display: block;
    width: 8rem;
    height: 8rem;
  }

  .deco-horizontal {
    height: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .short-nav {
    .nav__inner__bottom {
      padding-left: 0;
      justify-content: flex-start;
    }
  }
}
