.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;

  .pink-link-default {
    cursor: pointer;
  }
}

// MEDIA
@media screen and (max-width: 600px) {
  .portfolio-extended {
    .pink-link-default {
      width: 100%;
    }
  }
}
