.section-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $base-pink;
    font-size: 1.4rem;
  }
}

// MEDIA
@media screen and (max-width: 500px) {
  .section-link a {
    font-size: 1.2rem;
  }
}
