.slider__slide {
  background: transparent;
  max-width: 61rem;
  min-height: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}

.slide__top {
  padding-left: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem;

  h6 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    color: #fff;
    font-size: 3.2rem;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 0.4rem;
    height: 100%;
    background: #fff;
    left: 0rem;
    top: 0;
    border-radius: 1rem;
  }
}

.slide__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 3rem;

  p {
    font-size: 1.8rem;
    color: #fff;
  }

  a {
    font-size: 1.8rem;
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    padding: 1.6rem 4.6rem;
    text-align: center;
    text-decoration: none;
  }
}
.slider-img {
  min-height: 60rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.swiper {
  position: relative;

  .swiper-button-prev {
    content: url("../svg/slider_arrow_left.svg");
    padding: 2rem 1.3rem;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 40%;
    left: 6rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    transition: background 0.2s ease;

    &:hover {
      background: rgba(151, 151, 151, 0.1);
      transition: all 0.2s ease;
    }
  }

  .swiper-button-next {
    content: url("../svg/slider_arrow_right.svg");
    padding: 2rem 1.3rem;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 40%;
    right: 6rem;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    transition: background 0.2s ease;

    &:hover {
      background: rgba(151, 151, 151, 0.1);
      transition: all 0.2s ease;
    }
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 2rem;
  right: 10rem;
  transform: translate(-50%, 0%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  border-radius: 1rem;
  height: 2rem;
  padding: 0 2rem;
  cursor: default;

  .swiper-pagination-bullet {
    border: 0.1rem solid;
    border-color: rgba(255, 255, 255, 0.3);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    cursor: default;
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    border: none;
    background: #fff;
    transition: all 0.3s ease;
    cursor: default;
  }
}
