.slider__slide{
    background: transparent;
    max-width: 61rem;
    min-height: 39rem;
}

.slide__top{
    padding-left: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
    padding-bottom: 3rem;

    h6{
        color: #fff;
        font-size: 1.4rem;
        font-weight: normal;
    }

    h2{
        font-weight: normal;
        color: #fff;
        font-size: 3.2rem;
    }

    &::before{
        content: "";
        position: absolute;
        display: block;
        width: 0.4rem;
        height: 100%;
        background: #fff;
        left: 0rem;
        top: 0;
        border-radius: 1rem;
    }
}

.slide__bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 3rem;

    p{
        font-size: 1.8rem;
        color: #fff;
    }

    a{
        font-size: 1.8rem;
        color: #fff;
        border: 0.1rem solid #fff;
        border-radius: 1rem;
        padding: 1.6rem 4.6rem;
        text-align: center;
        text-decoration: none;
    }
}
.slider-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}